{% extends 'base.html' %}
{% block content %}

<div class="text-center">
    <h1 class="text-white">Blog</h1>
    <hr>
</div>

<div class="row ml-4 text-center">
    <h3 class="text-white">
    Order by:
    <a class="text-white" href="{% url 'main_page' %}?viewsort=True">view </a>
    <a class="text-white" href="{% url 'main_page' %}?datesort=True">date </a>
    </h3>
</div>

<div>
    <a href="{% url 'new_post' %}" class="text-white ml-4">New post</a>
</div>

<div class="row mb-2">

    {% for post in posts %}
        {% with post as post %}
            {% include 'card.html' %}
        {% endwith %}
    {% endfor %}

</div>

{% endblock %}
