 <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-info shadow-sm">
    <a class="text-dark mr-md-auto" href="{% url 'main_page' %}"><h4>Blog platform</h4></a>
    <nav class="my-2 my-md-0 mr-md-3 row">
        <form class="form-inline mt-2 mt-md-0" action="{% url 'post_theme' %}" method="post">
            {% csrf_token %}
            <label for="theme"></label>
            <input class="form-control mr-sm-2" type="text"  name="theme" id="theme" placeholder="Search" aria-label="Search">
            <button class="btn btn-dark my-2 my-sm-0" type="submit" value="theme">Search</button>
        </form>
        <a class="p-2 text-dark" href="{% url 'new_post' %}">New post</a>
        {% if user %}
        <a class="p-2 text-dark" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="p-2 text-dark" href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
</div>
