{% extends 'base.html' %}
{% block content %}

<main role="main" class="container text-white">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
        <a class="text-white" href="{% url 'main_page' %}">Back to main</a>
    </h3>
    <div class="row mt-4">
        <div class="col-md-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title font-italic">{{ post.theme }}</h2>
                <p class="blog-post-meta">{{ post.creation_time }}</p>

                <p>{{ post.text }}</p>
            </div>
            <div>
            <p>View num: {{ post.view_num }}</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="col-md-6 ml-4">
        {% for comment in comments %}
            {% with comment as comment %}
                {% include 'comment.html' %}
            {% endwith %}
        {% endfor %}
    </div>

    <hr>

    <div class="mt-4">
        <h2 class="blog-post-title font-italic mb-4">Add comment</h2>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </div>

</main>

{% endblock %}
